@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --accent: rgb(233, 233, 233);
    --scrollbarHandle: rgba(255, 255, 255, 0.2);
    --scrollbarHandleHover: rgba(255, 255, 255, 0.4);
    --header-height: 56px;
}

html,
body {
    overscroll-behavior: contain;
}

html,
html * {
    scrollbar-color: var(--scrollbarHandle) transparent;
    scrollbar-width: thin
}

html::-webkit-scrollbar,
html *::-webkit-scrollbar {
    width: 6px;
    height: 6px
}

html::-webkit-scrollbar-track,
html *::-webkit-scrollbar-track {
    background: #ffffff1a
}

html::-webkit-scrollbar-thumb,
html *::-webkit-scrollbar-thumb {
    background: var(--scrollbarHandle)
}

html::-webkit-scrollbar-thumb:hover,
html *::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbarHandleHover)
}

html::-webkit-scrollbar-thumb:active,
html *::-webkit-scrollbar-thumb:active {
    background: var(--accent)
}

body {
    margin: 0;
    background-color: #1f1f1f;
    color: #efefef;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 400;
    line-height: 1.6;
}

a:any-link {
    color: #66ccff;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

ul {
    padding-left: 25px;
}

dd {
    margin-left: 40px;

    +dt {
        margin-top: 10px;
    }
}

hr {
    height: 1px;
    margin: 0 10px;
    border: 0;
    background-color: #7f7f7f;
}

fieldset {
    display: contents;
}

label {
    display: block;
}

input[type="checkbox"] {
    accent-color: #66ccff;
}

input[type="range"] {
    height: 2px;
    background-color: #e5e5e5;
    appearance: none;

    &::-webkit-slider-thumb {
        width: 12px;
        height: 12px;
        background-color: #ffffff;
        border-radius: 50%;
        appearance: none;
        cursor: pointer;
    }

    &::-moz-range-thumb {
        width: 12px;
        height: 12px;
        border: 0;
        background-color: #ffffff;
        border-radius: 50%;
        appearance: none;
        cursor: pointer;
    }
}

select,
input[type="text"],
input[type="date"],
input[type="time"] {
    padding: 8px 10px;
    border: 1px solid gray;
    border-radius: 5px;
    color: lightgray;
    background: #1f1f1f;
    font-family: inherit;
    color-scheme: dark;

    &::placeholder {
        color: #7f7f7f;
    }

    &:disabled {
        background-color: #606060;
        color: #7f7f7f;
    }
}

button {
    padding: 5px 13px;
    border: 0;
    border-radius: 5px;
    background-color: #333333;
    color: lightgray;
    font-size: 1em;
    font-family: inherit;
    cursor: pointer;

    &:disabled {
        background-color: #111111;
        color: #7f7f7f;
        cursor: default;
    }
}

details {
    overflow: hidden;
    border-radius: 10px;
    background-color: #232323;
    box-shadow: 0 0 8px 0 #000000;

    summary {
        padding: 10px;
        background-color: #323232;
        cursor: pointer;
        user-select: none;
    }

    p,
    div,
    details {
        margin: 10px;
    }
}

blockquote {
    margin: 8px 5px;
    border-left: 3px solid #333333;
    padding-left: 8px;
}

header {
    position: sticky;
    top: 0;
    z-index: 1;
    overflow: hidden;
    height: var(--header-height);
    padding: 15px 12.5px;
    background: #111111;
    font-size: 18px;
    line-height: 26px;
    white-space: nowrap;
    word-break: break-all;
    text-overflow: ellipsis;

    a:any-link {
        color: inherit;
    }
}

@function contentAreaHeight($unit) {
    @return calc(#{100 + $unit} - var(--header-height));
}

.wrap {
    display: flex;
    overflow: clip;
}

.list-area {
    width: 100%;
    padding: 0 10px;

    >* {
        width: 100%;
        max-width: 800px;
        margin: 20px auto;
    }

    .comments-load-form {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 340px;
        height: 38px;
        max-width: 100%;

        >* {
            height: 100%;
        }

        #video-id {
            flex-shrink: 0;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }

        #submit-button {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
    }

    .config {
        position: sticky;
        top: calc(var(--header-height) + 10px);
        z-index: 1;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 10px;
        padding: 10px;
        box-shadow: 0 0 8px 0 #000000;
        background-color: color-mix(in srgb, #1f1f1f 80%, transparent);

        &[hidden] {
            display: none;
        }

        .nico-ad {
            small {
                color: #efefef99;
            }
        }
    }

    .comments {
        display: flex;
        flex-direction: column;
    }

    #comments-list {
        display: flex;
        flex-direction: column;
        gap: 4px;
        padding-left: 0;
        list-style: none;

        :has(+#comments-sync:not([hidden])) {
            margin-bottom: 20px;
        }

        >li {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            gap: 10px;
            word-break: break-all;
            overflow-wrap: break-word;
            word-wrap: break-word;
            line-break: anywhere;
            padding: 4px 10px;
            border-radius: 6px;
            transition: .1s;
            animation: flash .2s linear;
            cursor: pointer;

            &:hover {
                background-color: #333333;
            }

            &:active {
                background-color: #666666;
            }

            &.same-user {
                background-color: #007cff;

                &:hover {
                    background-color: #2e93ff;
                }

                &:active {
                    background-color: #5baaff;
                }

                .time {
                    color: inherit;
                }
            }

            .nicoru {
                flex-shrink: 0;
                margin-left: auto;
            }

            .time {
                flex-shrink: 0;
                color: #7f7f7f;
            }

            &.detail-sp {
                display: none;
            }
        }
    }

    #comments-sync {
        display: block;
        align-self: baseline;
        position: sticky;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        padding: 10px;
        border: 0;
        border-radius: 20px;
        background-color: #666666;
        color: inherit;
        font-size: inherit;
        transition: all .5s linear;

        &[hidden] {
            visibility: hidden;
            opacity: 0;
        }
    }

    @media (max-width: 1023px) {
        >* {
            margin: 15px auto;
        }
        #comments-list {
            >li {
                &.detail-sp {
                    display: block;
                    position: relative;
                    padding-top: calc(50px + 4px);
                    border-radius: 0;
                    background-color: #333333;
                    clip-path: polygon(0 50px, calc(50% - 50px) 50px, 50% 0, calc(50% + 50px) 50px, 100% 50px, 100% 100%, 0 100%);
                    animation: .5s;
                    animation-name: expand;
                    animation-direction: normal;
                    cursor: default;

                    &:hover,
                    &:active {
                        background-color: #333333;
                    }

                    hr {
                        margin: 4px 0;
                    }
                }

                &:focus-visible {
                    +.detail-sp {
                        animation-name: none;
                    }
                }
            }
        }
    }
}

.detail-pc {
    position: sticky;
    top: var(--header-height);
    overflow-x: hidden;
    overflow-y: auto;
    word-break: break-all;
    overflow-wrap: break-word;
    word-wrap: break-word;
    line-break: anywhere;
    width: 25%;
    height: contentAreaHeight(vh);
    height: contentAreaHeight(dvh);
    box-shadow: 0 0 10px -2px #111111;
    background-color: #333333;
    transition: .5s;

    &:empty {
        margin-right: -25%;
        box-shadow: none;
    }

    >dl {
        margin: 10px;
    }
    @media (max-width: 1023px) {
        display: none;
    }
}

@keyframes flash {
    from {
        background-color: rgba(255, 255, 255, 0.1);
    }

    to {
        background-color: transparent;
    }
}

@keyframes expand {
    from {
        max-height: 0;
    }

    to {
        max-height: 1000px;
    }
}